@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #7bdaf3;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 95%; 
  margin: 50px auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.note-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.notes {
  display: block;
  box-sizing: border-box;
  flex-basis: calc(25% - 40px);
  animation: grow .3s ease-in-out;
  transition: .1s ease-in-out;
}

.control-div {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  background-color: #9ec862;
}

.btn { 
  border: none;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  text-indent: -15px;
}

.btn::after {
  margin-left: 10px;
  font-family: "FontAwesome";
  font-size: 20px;
}

.edit-btn::after { content: "\f044"; }

.delete-btn::after { content: "\f1f8"; }

.note-text {
  min-height: 200px;
  background-color: #fff;
}

.note-text, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  outline: none;
}

.addNotes-btn {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #9ec862;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  text-transform: capitalize;
}

.addNotes-btn::after {
  content: "\f055";
  font-family: "FontAwesome";
  font-size: 20px;
  color: #fff;
}

.hide { display: none; }

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  